.title {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;

  font-family: gothamrounded;
  text-align: center;
  font-size: 2.2rem;
}

@media (max-width: 48rem) {
  .title {
    font-size: 2rem;
  }
}
